.cartPopup {
    position: absolute;
    top: 1rem;
    right: 50px;
    background-color: rgb(19, 19, 19);
    z-index: 10;
    padding: 1rem;
    overflow: auto;
    max-height: 325px;
    width: 325px;
}