.ProductCardImage {
    object-fit: cover;
    height: 325px;
    width: 100%;
    margin-bottom: 1rem;
}

.TextBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CardColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CardContents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1
}

