.centeredIcon {
    display: flex;
    align-items: center;
}

.justifyBetween {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: right;
}

.popupContainer {
    position: relative;
}

.SearchBarCart {
    display: flex;
    gap: 1rem;
}


.itemCounter {
    position: absolute;
    top: 0;
    right: -0.5rem;
    font-size: 12px;
    border-radius: 50%;
    background-color: red;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}

.SearchbarMenu {
    position: absolute;
    width: 100%;
    z-index: 20;
    background-color: var(--bg-darkest);
    overflow: auto;
    max-height: 300px;
    padding: 1rem;
    border-bottom-left-radius: 0.325rem;
    border-bottom-right-radius: 0.325rem;
}

.NavDropdown div {
    background-color: var(--bg-darkest);
}

.NavDropdown div a:hover {
    color: black !important;
}

.NavDropdown div a:first-of-type:hover {
    color: black !important;
}

.Zindex {
    z-index: 100;
    background-color: black;
}