.Slider {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    overflow: auto;
    max-width: 100%;
    
}

.Table {
    margin-bottom: 3re  m;
    width: 100%;

}

.TableHeader {
    border-bottom: 1px solid var(--bg-dark);
}

.TableHeader td {
    padding: 1rem 0;
}

.LinkRow {
    width: 100%;
}

.LinkRow:hover {
    cursor: pointer;
    color: red;
    transition: color 0.2s linear;

}

.DesktopTableCell {
    display: none;
}

@media screen and (min-width: 768px) {
    .DesktopTableCell {
        display: table-cell;
    }
    
}