.Slider {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    overflow: auto;
    max-width: 100%;
    
}

.Table {
    height: 800px;
    width: auto;
    margin-bottom: 3rem;
    width: 100%;

}

.TableHeader {
    border-bottom: 1px solid var(--bg-dark);
}

.TableHeader td {
    padding: 1rem 0;
}

.LinkRow {
    width: 100%;
}

.LinkRow:hover {
    cursor: pointer;
    color: red;
    transition: color 0.2s linear;

}