.ProfileWrapper {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.MainUserInfo {
  display: flex;
  gap: 1rem;
}

.UserControls {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  /* .UserControls {
        flex-direction: column;
    } */
}

.UserPicture {
  width: 120px;
  height: 120px;
}

.EditPencilBox {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  background-color: #282828;
  padding: 0.25rem;
  border-radius: 4px;
  opacity: 1;
  animation: opacity 0.15s linear;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
