.FeatureRelation {
    position: absolute;
    top: 0;
    right: -250px;
    width: 250px;
    z-index: 10;
    background-color: var(--bg-darkest);
    animation: op-transition 0.15s linear;
    color: white;
    padding: 1rem;
    
}

.RelationContainer {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    width: 100%;
    padding: 2rem 0;
}

.RelationItem {
    position: relative;
    width: 100px;
    height: 150px;
}

/* .RelationContainer div {
    width: 100px;
    height: 150px;
} */

.Subtitle {
    font-size: 1rem;
    color: var(--bg-dark);
}

@keyframes op-transition {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}