.Modal figure {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-darkest);
    margin: 0;
}

.Modal figcaption {
    padding: 1rem;
    text-align: center;
}

.Modal {
    animation: opacity-transition 0.15s linear
}

@keyframes opacity-transition {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  