body {
    background-color: black;
    color: white;
}

header {
    height: 80px;
}

h1, h2, h3, h4 {
    font-family: "DosV";
}

h1 {
    font-size: 3rem;
}

p, div {
    font-family: "NECAPC3" ;
}

td {
    padding: 0.66rem 1rem;
}

.GenericFont {
    font-family: "ApricotXenC" !important;
}

header a {
    color: white !important;
}

.toggleDisplay {
    display: none;
}

.neuteredLink {
    text-decoration: none;
    color: white;
}

.neuteredLink:hover {
    color: rgb(255, 0, 0);
    transition: 0.15s linear;
}

.CardLink {
    text-decoration: none;
    color: black;
}

.CardLink:hover {
    color: rgb(121, 0, 0);
    transition: 0.15s linear;
}

section {
    margin-bottom: 2rem;
}

.CardWrapper {
    display: flex;
    gap: 2rem;
    margin-bottom: 96px;
    overflow-x: auto;
}

.CardWrapperWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 96px;


}

/* ***************CUSTOM COMPONENTS************** */

.fitImage {
    object-fit: cover;
}

.CustomCard {
    background-color: rgb(20, 20, 20);
    border: 1px solid rgba(155, 155, 155, 0.7);
    border-radius: 0.175rem;
    padding: 1rem;
}


.darkHeader {
    border-bottom: 1px solid rgba(155, 155, 155, 0.7);
    padding-bottom: 1rem;
}

.productPrice {
    font-size: 1.5rem;
    color: greenyellow;
}


.productPriceSmall {
    color: var(--green);
    font-size: 1.25rem;
}

.productPriceSmallest {
    color: var(--green);
    font-size: 1rem;
}


.flexBetween {
    display: flex;
    justify-content: space-between;
}

.removeObject {
    cursor: pointer;
}

.removeObject:hover {
    color: var(--red)
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.content {
    flex-grow: 1;
}

.searchFormButton {
    border-radius: 0;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    background-color: var(--bg-dark);
    border-color: var(--bg-dark);
    outline: 0;
    box-shadow: none;
}

.searchFormButton:hover {
    background-color: var(--bg-darker);
    border-color: var(--bg-dark);
}

.customSearchForm {
    border-radius: 0;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

.customModal {
    background-color: var(--bg-darkest);
}


/****************** BOOTSTRAP OVERRIDE *******************/

.btn-danger {
    background-color: var(--red); 
}

.btn-close {    
    filter:invert()
}

.form-control {
    background-color: rgba(40, 40, 40, 1);
    color: white;
    border: 1px solid rgba(155, 155, 155, 0.705);
}

.form-control:focus {
    background-color: rgba(40, 40, 40, 1);
    box-shadow: none;
    color: white;
    border: 1px solid white;

}

.form-control::placeholder {
    color: white;
}

.pagination a {
    background-color: var(--bg-darkest) ;
    color: white;
}

.page-item.active span {
    background-color: var(--bg-darker) ;
    border-color: white;
}