body {
    background-color: black;
    color: white;
    /* font-family: "Press Start 2P", system-ui; */
}

header a {
    color: white !important;
}

.toggleDisplay {
    display: none;
}


.neuteredLink {
    text-decoration: none;
    color: white;
}



.neuteredLink:hover {
    color: rgb(121, 0, 0);
    transition: 0.15s linear;
}

.CardLink {
    text-decoration: none;
    color: black;
}

.CardLink:hover {
    color: rgb(121, 0, 0);
    transition: 0.15s linear;
}

section {
    margin-bottom: 2rem;
}

.CardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 96px;
}